<ul>
  <li class="item-selector" id="mapContextSelector">
    <span class="current">
      <span class="item-text" id="currentMapContext">Production count</span>
      <span class="item-arrow"></span>
    </span>
    <ul class="item-selector-child">
      <li><a href="#production_count" data-name="production_count">Production count</a></li>
      <li><a href="#usage_count" data-name="usage_count">Usage count</a></li>
      <li><a href="#challenges" data-name="challenges">Challenge count</a></li>
    </ul>
  </li>
  <li class="item-selector" id="mapProductSelector">
    <span class="current">
      <span class="item-text" id="currentMapProduct">All products</span>
      <span class="item-arrow"></span>
    </span>
    <ul class="item-selector-child">
      <li><a href="#all" data-name="all">All products</a></li>
      {{#each products}}
        <li><a href="#{{name}}" data-name="{{name}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </li>
  <li class="item-selector" id="mapYearSelector">
    <span class="current">
      <span class="item-text" id="currentMapYear">All years</span>
      <span class="item-arrow"></span>
    </span>
    <ul class="item-selector-child">
      <li><a href="#all" data-name="all">All years</a></li>
      {{#each years}}
        <li><a href="#{{year}}" data-name="{{year}}">{{year}}</a></li>
      {{/each}}
    </ul>
  </li>
</ul>
